.hidden {
  display: none;
}

h2 {
  font-size: 1.3em;
  font-weight: 700;
  padding-top: 1em;
}

h1 {
  font-size: 1.6em;
  text-align: center;
}

#resultArea {
  background-color: bisque;
}

#img {
  max-width: 25%;
  float: left;
}
